{% extends 'base.html' %}
{% block content %}

<div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Semester</th>
                <th>Instructor</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_code }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.semester }}</td>
                <td>{{ course.instructor }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No courses found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  <a class="button is-primary" href="{% url 'add_course' %}">Add Course</a>


{% endblock content %}