{% extends 'base.html' %}

{% block content %}

{% if user.profile %}
<p>Welcome, {{ user.username }}!</p>
<p>Email: {{ user.email }}</p>
<p>Field of Study: {{ user.profile.field_of_study }}</p>
<p>Year of Study: {{ user.profile.year_of_study }}</p>

{% else %}
<p>Welcome, {{ user.username }}!</p>
<p>Email: {{ user.email }}</p>
<p>Field of Study: {{ user.profile.field_of_study }}</p>
<p>Year of Study: {{ user.profile.year_of_study }}</p>

<p>Please complete your profile information.</p> 
{% endif %}
{% endblock %}